

<mat-grid-list cols="12" rows=100 rowHeight="50px">
    <mat-grid-tile colspan=1 rowspan=1>
        <p class="class-name">{{ currentClass }}. osztály</p>
    </mat-grid-tile>
    <mat-grid-tile colspan=8 rowspan=1>
        <button mat-raised-button autofocus (click)="setCurrentClass(1)">1</button>
        <button mat-raised-button (click)="setCurrentClass(2)">2</button>
        <button mat-raised-button (click)="setCurrentClass(3)">3</button>
        <button mat-raised-button (click)="setCurrentClass(4)">4</button>
        <button mat-raised-button (click)="setCurrentClass(5)">5</button>
        <button mat-raised-button (click)="setCurrentClass(6)">6</button>
        <button mat-raised-button (click)="setCurrentClass(7)">7</button>
        <button mat-raised-button (click)="setCurrentClass(8)">8</button>
        <button mat-raised-button (click)="setCurrentClass(9)">9</button>
        <button mat-raised-button (click)="setCurrentClass(10)">10</button>
        <button mat-raised-button (click)="setCurrentClass(11)">11</button>
        <button mat-raised-button (click)="setCurrentClass(12)">12</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=1></mat-grid-tile>
    <mat-grid-tile colspan=8 rowspan=14>
        <table mat-table [dataSource]="students" class="mat-elevation-z8">
            <ng-container matColumnDef="nev">
                <th mat-header-cell *matHeaderCellDef> Név </th>
                <td mat-cell *matCellDef="let element"> {{element.nev}} </td>
            </ng-container>
            <ng-container matColumnDef="diakig">
                <th mat-header-cell *matHeaderCellDef> Diákig. szám </th>
                <td mat-cell *matCellDef="let element"> {{element.diakig}} </td>
            </ng-container>
            <ng-container matColumnDef="szul_datum">
                <th mat-header-cell *matHeaderCellDef> Szül. dátum </th>
                <td mat-cell *matCellDef="let element"> {{element.szul_datum | date: 'yyyy. MM. dd.'}} </td>
            </ng-container>
            <ng-container matColumnDef="iranyitoszam">
                <th mat-header-cell *matHeaderCellDef> Irányitószám </th>
                <td mat-cell *matCellDef="let element"> {{element.iranyitoszam}} </td>
            </ng-container>
            <ng-container matColumnDef="utca">
                <th mat-header-cell *matHeaderCellDef> Utca </th>
                <td mat-cell *matCellDef="let element"> {{element.utca}} </td>
            </ng-container>
            <ng-container matColumnDef="hazszam">
                <th mat-header-cell *matHeaderCellDef> Házszám </th>
                <td mat-cell *matCellDef="let element"> {{element.hazszam}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onStudentClick(row)"></tr>
        </table>
    </mat-grid-tile>
    <form (ngSubmit)="submitStudentForm()" #f="ngForm">
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field>
                <mat-label>Név</mat-label>
                <input  matInput [ngModel]="currnetStudent.nev" name="nev" string required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field>
                <mat-label>Diákigazolvány szám</mat-label>
                <input matInput [ngModel]="currnetStudent.diakig" name="diakig" number required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Születési dátum" [ngModel]="currnetStudent.szul_datum" name="szul_datum" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field>
                <mat-label>Irányítószám</mat-label>
                <input matInput [ngModel]="currnetStudent.iranyitoszam" name="iranyitoszam" number required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field>
                <mat-label>Utca</mat-label>
                <input matInput [ngModel]="currnetStudent.utca" name="utca" string required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field>
                <mat-label>Házszám</mat-label>
                <input matInput [ngModel]="currnetStudent.hazszam" name="hazszam" number required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <button *ngIf="currnetStudent === emptyStudent" 
                    color="accent" 
                    mat-raised-button 
                    (click)="onButtonClick('ADD')"
                    [disabled]="!f.valid"
                    >hozzáadás</button>
            <div *ngIf="currnetStudent !== emptyStudent">
                <button *ngIf="currnetStudent !== emptyStudent" 
                        mat-raised-button 
                        (click)="clearFields()"
                        >új</button>
                <button color="accent" 
                        mat-raised-button 
                        (click)="onButtonClick('UPDATE')"
                        [disabled]="!f.valid"
                        >módosítás</button>
                <button color="primary" 
                        mat-raised-button 
                        (click)="onButtonClick('REMOVE')"
                        [disabled]="!f.valid"
                        >törlés</button>
            </div>
        </mat-grid-tile>
    </form>
</mat-grid-list>

    
