.mat-raised-button{
    height: 40px;
    margin: 4px;
    margin-top: 10px;
    // margin-left: 11px;
}


table{
    width: 75em;
}

.mat-form-field{
    width: 25em;
}

.textarea{
    color: white;
}

p{
    font-size: 30px;
    color: white;
}
