table{
    width: 60%;
}

.mat-form-field{
    width: 25em;
    
}

.number-field{
    width: 10em;
    margin: 1em;
}

.mat-raised-button{
    height: 40px;
    margin: 4px;
    margin-top: 10px;
    // margin-left: 11px;
}

