

<mat-grid-list cols="12" rows=100 rowHeight="50px">
    <mat-grid-tile colspan=1 rowspan=1>
        <p class="class-name">{{ currentClass }}. osztály</p>
    </mat-grid-tile>
    <mat-grid-tile colspan=8 rowspan=1>
        <button mat-raised-button autofocus (click)="setCurrentClass(1)">1</button>
        <button mat-raised-button (click)="setCurrentClass(2)">2</button>
        <button mat-raised-button (click)="setCurrentClass(3)">3</button>
        <button mat-raised-button (click)="setCurrentClass(4)">4</button>
        <button mat-raised-button (click)="setCurrentClass(5)">5</button>
        <button mat-raised-button (click)="setCurrentClass(6)">6</button>
        <button mat-raised-button (click)="setCurrentClass(7)">7</button>
        <button mat-raised-button (click)="setCurrentClass(8)">8</button>
        <button mat-raised-button (click)="setCurrentClass(9)">9</button>
        <button mat-raised-button (click)="setCurrentClass(10)">10</button>
        <button mat-raised-button (click)="setCurrentClass(11)">11</button>
        <button mat-raised-button (click)="setCurrentClass(12)">12</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=1></mat-grid-tile>
    <mat-grid-tile colspan=8 rowspan=2>
        <mat-button-toggle-group aria-label="Font Style">
            <mat-button-toggle checked (click)="setCurrnetSubjectType('reál')">Reál ({{currentNumOfTypes.real}})</mat-button-toggle>
            <mat-button-toggle (click)="setCurrnetSubjectType('humán')">Humán ({{currentNumOfTypes.human}})</mat-button-toggle>
            <mat-button-toggle (click)="setCurrnetSubjectType('sport')">Sport ({{currentNumOfTypes.sport}})</mat-button-toggle>
            <mat-button-toggle (click)="setCurrnetSubjectType('egyéb')">Egyéb ({{currentNumOfTypes.egyeb}})</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile colspan=8 [rowspan]="(lessons && lessons.length+1 > 8) ? lessons.length+1 : 8">
        <table mat-table [dataSource]="lessons" class="mat-elevation-z8">
            <ng-container matColumnDef="targykod">
                <th mat-header-cell *matHeaderCellDef> Tárgykód </th>
                <td mat-cell *matCellDef="let element"> {{element.targykod}} </td>
            </ng-container>
            <ng-container matColumnDef="targynev">
                <th mat-header-cell *matHeaderCellDef> Tárgynév </th>
                <td mat-cell *matCellDef="let element"> {{element.targynev}} </td>
            </ng-container>
            <ng-container matColumnDef="A_het">
                <th mat-header-cell *matHeaderCellDef> hét </th>
                <td mat-cell *matCellDef="let element"> {{element.A_het != undefined 
                                                            ? (element.A_het == 1 ? "A" : "B")
                                                            : ""}} </td>
            </ng-container>
            <ng-container matColumnDef="nap">
                <th mat-header-cell *matHeaderCellDef> Nap </th>
                <td mat-cell *matCellDef="let element"> {{element.nap}} </td>
            </ng-container>
            <ng-container matColumnDef="idopont">
                <th mat-header-cell *matHeaderCellDef> Időpont </th>
                <td mat-cell *matCellDef="let element"> {{element.idopont}} óra </td>
            </ng-container>
            <ng-container matColumnDef="teremszam">
                <th mat-header-cell *matHeaderCellDef> Teremszám </th>
                <td mat-cell *matCellDef="let element"> {{element.teremszam}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onLessonClick(row)"></tr>
        </table>
    </mat-grid-tile>
    <form (ngSubmit)="submitLessonForm()" #f="ngForm">
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field appearance="fill">
                <mat-label>Tárgykód</mat-label>
                <mat-select [ngModel]="currentLesson.targykod" name="targykod">
                    <mat-option *ngFor="let code of subjectCodes" [value]="code">
                        {{code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field appearance="fill">
                <mat-label>Hét</mat-label>
                <mat-select [ngModel]="currentLesson.A_het" name="A_het">
                    <mat-option [value]=1>A</mat-option>
                    <mat-option [value]=0>B</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field appearance="fill">
                <mat-label>Nap</mat-label>
                <mat-select [ngModel]="currentLesson.nap" name="nap">
                    <mat-option *ngFor="let day of weekDays" [value]="day">
                        {{day}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field appearance="fill">
                <mat-label>Időpont</mat-label>
                <mat-select [ngModel]="currentLesson.idopont" name="idopont">
                    <mat-option *ngFor="let hour of hours" [value]="hour">
                        {{hour}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <mat-form-field appearance="fill">
                <mat-label>Teremszám</mat-label>
                <mat-select [ngModel]="currentLesson.teremszam" name="teremszam">
                    <mat-option *ngFor="let num of roomNumbers" [value]="num">
                        {{num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=2>
            <button *ngIf="currentLesson === emptyLesson" 
                    color="accent" 
                    mat-raised-button 
                    (click)="onButtonClick('ADD')"
                    [disabled]="!f.valid"
                    >hozzáadás</button>
            <div *ngIf="currentLesson !== emptyLesson">
                <button *ngIf="currentLesson !== emptyLesson" 
                        mat-raised-button 
                        (click)="clearFields()"
                        >új</button>
                <button color="accent" 
                        mat-raised-button 
                        (click)="onButtonClick('UPDATE')"
                        [disabled]="!f.valid"
                        >módosítás</button>
                <button color="primary" 
                        mat-raised-button 
                        (click)="onButtonClick('REMOVE')"
                        [disabled]="!f.valid"
                        >törlés</button>
            </div>
        </mat-grid-tile>
    </form>
</mat-grid-list>

