@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$bg-color: #37353d;

:root{
    background-color: $bg-color;
}

button:focus{
    background-color: rgba(255, 0, 0, 0.24);
}

.mat-row:hover > .mat-cell{
    cursor: pointer;
    background-color: #47252b50;
}

.mat-input-element{
    color: white !important;
    font-size: 25px !important;
    // padding-bottom: -5px !important;
}

textarea.mat-input-element{
    vertical-align: bottom;
}

.class-name{
    font-size: 30px;
    color: white;
}

body > app-root > app-students > mat-grid-list > div > mat-grid-tile:nth-child(4) > figure{
    align-items: flex-start !important;
    // justify-content: flex-start !important;
    margin-top: 8px !important;
}

body > app-root > app-subjects > mat-grid-list > div > mat-grid-tile:nth-child(4) > figure{
    align-items: flex-start !important;
    margin-top: 30px !important;
    // display: block !important;
}


body > app-root > app-stats > mat-grid-list > div > mat-grid-tile:nth-child(3) > figure > ngx-charts-pie-chart > ngx-charts-chart > div > ngx-charts-legend > div > header > span{
    opacity: 0;
}

body > app-root > app-stats > mat-grid-list > div > mat-grid-tile > figure > ngx-charts-pie-chart > ngx-charts-chart > div > svg > g > g > g > g.ng-star-inserted > g > text{
    fill: white;
    font-size: 18px;
}

body > app-root > app-stats > mat-grid-list > div > mat-grid-tile > figure > ngx-charts-bar-vertical > ngx-charts-chart > div > svg > g > g > g > g > text{
    fill:white;
}

body > app-root > app-stats > mat-grid-list > div > mat-grid-tile:nth-child(4) > figure > ngx-charts-bar-vertical > ngx-charts-chart > div > svg > g > g > g > g > g > g > text{
    fill: white;
}

body > app-root > app-stats > mat-grid-list > div > mat-grid-tile:nth-child(4) > figure > ngx-charts-bar-vertical > ngx-charts-chart > div > ngx-charts-legend > div > header > span{
    opacity: 0;
}