@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$bg-color: #37353d;

:root{
    background-color: $bg-color;
}

button:focus{
    background-color: rgba(255, 0, 0, 0.24);
}

.mat-row:hover > .mat-cell{
    cursor: pointer;
    background-color: #47252b50;
}

.mat-input-element{
    color: white !important;
    font-size: 25px !important;
    // padding-bottom: -5px !important;
}

textarea.mat-input-element{
    vertical-align: bottom;
}