<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span class="menu-spacer"></span> -->
    <div>
      <a mat-button [routerLink]="'/classes'"> Osztályok </a>
      <a mat-button [routerLink]="'/students'"> Diákok </a>
      <a mat-button [routerLink]="'/subjects'"> Tárgyak </a>
      <a mat-button [routerLink]="'/lessons'"> Tanórák </a>
      <a mat-button [routerLink]="'/timetable'"> Órarendek </a>
      <a mat-button [routerLink]="'/rooms'"> Termek </a>
      <a mat-button [routerLink]="'/stats'"> Statisztikák </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>