.mat-raised-button{
    height: 40px;
    margin: 4px;
    margin-top: 10px;
    // margin-left: 11px;
}


.mat-card{
    margin: 5px;
    width: 500px;

    .mat-card-content{
        font-size: large;
    }
}

table{
    width: 60%;
}

.mat-form-field{
    width: 25em;
}